@font-face {
  src: url(../../fonts/Inter-Regular.woff2) format('woff2'),
       url(../../fonts/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url(../../fonts/Inter-Bold.woff2) format('woff2'),
       url(../../fonts/Inter-Bold.woff) format('woff');
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url(../../fonts/Inter-ExtraBold.woff2) format('woff2'),
       url(../../fonts/Inter-ExtraBold.woff) format('woff');
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
}

.page {
  min-width: 320px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A2C2F;
  font-family: 'Inter', sans-serif;
}