@import url(./__grid/photo-gallery__grid.css);
@import url(./__image/photo-gallery__image.css);

.photo-gallery {
  padding: 64px 0 0 0;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .photo-gallery {
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-gallery {
    padding-top: 92px;
  }
}