.lead__title {
  max-width: calc(100% - (2 * 16px));
  margin: 0;

  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.1;
  
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: calc(100% - (2 * 24px));

    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1024px) {
  .lead__title {
    max-width: calc(100% - (2 * 152px));

    font-size: 96px;
    line-height: 1.04;
  }
}

@media screen and (min-width: 1280px) {
  .lead__title {
    max-width: calc(100% - (2 * 280px));

    font-size: 96px;
    line-height: 1.04;
  }
}