.lead__image-container {
  width: 100%;
  margin: 40px 0 0 0;
}

@media screen and (min-width: 768px) {
 .lead__image-container {
    width: 768px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image-container {
    width: calc(100% - (2 * 48px));
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-container{
    width: calc(100% - (2 * 148px));
    margin-top: 64px;
  }
}
