.lead__image-container {
  width: 320px;
  margin: 40px 0 0 0;
}

@media screen and (min-width: 768px) {
 .lead__image-container {
    width: 768px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image-container {
    width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image-container{
    width: 984px;
    margin-top: 64px;
  }
}
