.lead__subtitle {
  max-width: 288px;
  margin: 16px auto 0 auto;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 620px;
    margin-top: 32px;

    font-size: 30px;
    line-height: 1.2;
  }
}