.photo-gallery__grid {
  width: calc(100% - (2 * 16px));
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px 0;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .photo-gallery__grid {
    width: calc(100% - (2 * 24px));

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-gallery__grid {
    width: calc(100% - (2 * 48px));

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-gallery__grid {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}